main {
  margin: 0px 30px 20px;
}

body {
  margin: auto;
  max-width: 650px;
}

input[type="text"], input[type="password"] {
  width: 15ch;
}

button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 12pt;
  font-weight: bold;
}

button:hover {
  background-color: #fafafa;
}

table {
  /* border-width: 0px; */
  border-collapse: collapse;
  margin-top: 10px;
  width: auto;
}

th {
  border: 1px solid #ddd;
  border-collapse: collapse;
  text-align: center;
  width: 100px;
}

.remove-button {
  color: red;
  float: left;
}

.sort-button {
  color: blue;
  float: right;
}

td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  /* display: inline; */
  padding: 0px;
}

td input {
  border-width: 0px;
  margin: 0px;
  width: 100% !important;
}

.rowid {
  width: 100% !important;
  text-align: center;
}